{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}"> 
{% endblock %}

{% block body %}
<div class="body-container">
    <div class="main-wrapper">
	    <div class="container-wrapper">
	    	<div class="card-white">
			    <h2>Not Found</h2>
		    </div>
	    </div>
    </div>
    <div class="menu">
        <a href="{% url "menu" %}"><div class="card-white">Menu</div></a>
        <a href="{% url "logout" %}"><div class="card-white">logout</div></a>
    </div>
</div>


{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function(){
        $.datepicker.setDefaults({ dateFormat: 'dd/mm/yy' });
	$('#id_date').datepicker();
});
</script>
{% endblock %}
