{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}"> 
{% endblock %}

{% block body %}
<div class="body-container">
    <div class="main-wrapper">
        <div class="container-wrapper">
            <div class="card-white">
                {% if type == "lot" %}
                    <h1>Lot Invoices</h1>
                    <table class="list-table">
                        <tr>
                            <th>Date</th>
                            <th>Lot Number</th>
                            <th>Company Name</th>
                            <th>Seal Number</th>
                            <th>Driver Name</th>
                        </tr>
                    {% for lot in lots %}
                        <tr>
                            <td>{{ lot.date }}</td>
                            <td><a href="{% url "printlot" lot.lot_no %}">{{ lot.lot_no }}</a></td>
                            <td>{{ lot.company_name }}</td>
                            <td>{{ lot.seal_number}}</td>
                            <td>{{ lot.driver_name }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% elif type == "ice_bill" %}
                    <h1>Ice Bill</h1>
                    <table class="list-table">
                        <tr>
                            <th>Date</th>
                            <th>Ice Bill Number</th>
                            <th>Company Name</th>
                        </tr>
                    {% for bill in bills %}
                        <tr>
                            <td>{{ bill.date }}</td>
                            <td><a href="{% url "printicebill" bill.bill_no %}">{{ bill.bill_no }}</a></td>
                            <td>{{ bill.company_name }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h1>{% if type == "purchase_bill" %}Purchase Bills{% else %}Company Bills{% endif %}</h1>
                    <table class="list-table">
                        <tr>
                            <th>Date</th>
                            <th>Bill Number</th>
                            <th>Name</th>
                            <th>Total Price</th>
                        </tr>
                    {% for bill in bills %}
                    
                        <tr>
                            <td>{{ bill.date }}</td>
                            <td><a href="{% if type == "purchase_bill" %}{% url "printpurchasebill" bill.bill_no %}{% else %}{% url "printcompanybill" bill.bill_no %}{% endif %}">{{ bill.bill_no }}</a></td>
                            <td>{{ bill.name }}</td>
                            <td>Rs.{{ bill.total_price }}</td>
                        </tr>
                        
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="menu">
        <a href="{% url "menu" %}"><div class="card-white">Menu</div></a>
        <a href="{% url "logout" %}"><div class="card-white">logout</div></a>
    </div>
</div>
{% endblock %}
