{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}"> 
{% endblock %}

{% block body %}
<div class="body-container">
    <div class="main-wrapper">
        <div class="container-wrapper">
            <div class="card-white">
                <h1>Menu</h1>
                <a href="{% url "addpurchasebill" %}" class="card-white card-mini">Add Purchase Bill</a>
                <a href="{% url "addcompanybill" %}" class="card-white card-mini">Add Company Bill</a>
                <a href="{% url "addlot" %}" class="card-white card-mini">Add Lot Invoice</a>
                <a href="{% url "addicebill" %}" class="card-white card-mini">Add Ice Bill</a>
                <a href="{% url "searchpurchasebill" %}" class="card-white card-mini">View Purchase Bill</a>
                <a href="{% url "searchcompanybill" %}" class="card-white card-mini">View Company Bill</a>
                <a href="{% url "searchlot" %}" class="card-white card-mini">View Lot Invoice</a>
                <a href="{% url "searchicebill" %}" class="card-white card-mini">View Ice Bill</a>
            </div>
        </div>
    </div>
    <div class="menu">
        <a href="{% if user.is_authenticated %}{% url "logout" %}{% else %}{% url "login" %}{% endif %}"><div class="card-white">{% if user.is_authenticated %}logout{% else %}login{% endif %}</div></a>
    </div>
</div>

{% endblock %}
