{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block style_base %}
    <link rel="stylesheet" type="text/css" href="{% static "css/printbill.css" %}"> 
    <link href="http://fonts.googleapis.com/css?family=Bitter|Open+Sans:300" rel="stylesheet" type="text/css">
{% endblock %}

{% block wrapper_class %}body-wrapper testetet{% endblock %}
{% block topbar %}{% endblock %}
{% block body %}
<div class="body-container">
<div class="main-wrapper">
	<div class="container-wrapper">
		<div class="bill">
			<img src="{% static "images/logo.png" %}" style="float:left;height:80px;width:80px;" />
            <img src="{% static "images/saibaba.gif" %}" style="float:right;height:90px;" />
            <div style="font-size:32px;font-family:arial;">Sai Sri Prawn Purchasing Center</div>
            <div >Gollavanthippa Road, Bhimavaram - 2</div>
            <div style="margin-bottom:10px;">Cell: 9440273397</div>
            <div style="margin-bottom:10px;font-size:18px;">Bill</div>
            <div style="float:left;">Date: {{ bill.date }}</div>
			<div style="float:right;">Bill No: {{ bill.bill_no }}</div>
            <br />
			<div style="float:left; font-size:16px;">Name: {{ bill.name }}</div>
            <div style="float:right; font-size:16px;">Place: {{ bill.place }}</div>
            <br />
			<table id="billTable" class="bill-table">
				<tr>
					<th>S.No</th>
					<th>Count</th>
					<th>Quantity (kgs)</th>
					<th>Rate</th>
					<th>Price</th>
				</tr>
                {% for row in bill_content %}
				<tr>
					<td>{{ row.s_no }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.count }}</td>
					<td>{{ row.quantity }}</td>
					<td>{{ row.rate }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.price }}</td>
				</tr>
                {% endfor %}
                <tr>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;font-weight:bold;font-family:arial">{{ bill.total_quantity }}</td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;font-weight:bold;font-family:arial">Rs.{{ bill.total_price }}</td>
                </tr>
			</table>
            <div style="float:left;">Amount in Words: <span class="word-amount"></span></div>
            <br /><br />
            <div style="float:left;">Accountant:</div>
            <div style="float:right">Manager:</div>
            <div style="">Checked By:</div>
		</div>
		<button class="print-button" onclick="window.print()">Print Bill</button>
	</div>
</div>
<div class="bottom-wrapper">
	<div class="container-wrapper">
		<div class="bill">
			<img src="{% static "images/logo.png" %}" style="float:left;height:80px;width:80px;" />
            <img src="{% static "images/saibaba.gif" %}" style="float:right;height:90px;" />
            <div style="font-size:32px;font-family:arial;">Sai Sri Prawn Purchasing Center</div>
            <div >Gollavanthippa Road, Bhimavaram - 2</div>
            <div style="margin-bottom:10px;">Cell: 9440273397</div>
            <div style="margin-bottom:10px;font-size:18px;">Bill</div>
            <div style="float:left;">Date: {{ bill.date }}</div>
			<div style="float:right;">Bill No: {{ bill.bill_no }}</div>
            <br />
			<div style="float:left; font-size:16px;">Name: {{ bill.name }}</div>
            <div style="float:right; font-size:16px;">Place: {{ bill.place }}</div>
            <br />
			<table id="billTable" class="bill-table">
				<tr>
					<th>S.No</th>
					<th>Count</th>
					<th>Quantity (kgs)</th>
					<th>Rate</th>
					<th>Price</th>
				</tr>
                {% for row in bill_content %}
				<tr>
					<td>{{ row.s_no }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.count }}</td>
					<td>{{ row.quantity }}</td>
					<td>{{ row.rate }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.price }}</td>
				</tr>
                {% endfor %}
                <tr>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;font-weight:bold;font-family:arial">{{ bill.total_quantity }}</td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;font-weight:bold;font-family:arial">Rs.{{ bill.total_price }}</td>
                </tr>
			</table>
            <div style="float:left;">Amount in Words: <span class="word-amount"></span></div>
            <br /><br />
            <div style="float:left;">Accountant:</div>
            <div style="float:right">Manager:</div>
            <div style="">Checked By:</div>
		</div>
		<button class="print-button" onclick="window.print()">Print Bill</button>
	</div>
</div>
</div>
{% endblock %}


{% block extra_script %}
<script language="javascript">
function numToString(x)
{
var r=0;
var txter=x;
var sizer=txter.length;
var numStr="";
if(isNaN(txter))
{
alert(" Invalid number");
exit();
}
var n=parseInt(x);
var places=0;
var str="";
var entry=0;
while(n>=1)
{
r=parseInt(n%10);

if(places<3 && entry==0)
{
numStr=txter.substring(txter.length-0,txter.length-3) // Checks for 1 to 999.
str=onlyDigit(numStr); //Calls function for last 3 digits of the value.
entry=1;
}

if(places==3)
{
 numStr=txter.substring(txter.length-5,txter.length-3) 
 if(numStr!="")
 {
  str=onlyDigit(numStr)+ " Thousand "+str;
 }
}

if(places==5)
{
 numStr=txter.substring(txter.length-7,txter.length-5) //Substring for 5 place to 7 place of the string
 if(numStr!="")
 {
  str=onlyDigit(numStr)+ " Lakhs "+str; //Appends the word lakhs to it
 }
}

if(places==6)
{
 numStr=txter.substring(txter.length-9,txter.length-7)  //Substring for 7 place to 8 place of the string
 if(numStr!="")
 {
  str=onlyDigit(numStr)+ " Crores "+str;        //Appends the word Crores
 }
}

n=parseInt(n/10);
places++;
}
return str;
}




function onlyDigit(n)
{
//Arrays to store the string equivalent of the number to convert in words
var units=['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine'];
var randomer=['','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen'];
var tens=['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety'];
var r=0;
var num=parseInt(n);
var str="";
var pl="";
var tenser="";
while(num>=1)
{
r=parseInt(num%10);
tenser=r+tenser;
 if(tenser<=19 && tenser>10) //Logic for 10 to 19 numbers
 {
 str=randomer[tenser-10];
 }
 else
 {
  if(pl==0)        //If units place then call units array.
  {
  str=units[r];
  }
  else if(pl==1)    //If tens place then call tens array.
  {
  str=tens[r]+" "+str;
  }
 }
 if(pl==2)        //If hundreds place then call units array.
 {
 str=units[r]+" Hundred "+str;
 }
 
num=parseInt(num/10);
pl++;
}
return str;
}

$(document).ready(function(){
    var totalPrice = '{{ bill.total_price }}';
    var wordPrice = numToString(totalPrice);
    $('.word-amount').text(wordPrice);
});

</script>
{% endblock %}