{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block style_base %}
    <link rel="stylesheet" type="text/css" href="{% static "css/printbill.css" %}"> 
    <link href="http://fonts.googleapis.com/css?family=Bitter|Open+Sans:300" rel="stylesheet" type="text/css">
{% endblock %}

{% block wrapper_class %}body-wrapper testetet{% endblock %}
{% block topbar %}{% endblock %}
{% block body %}
<div class="body-container" style="font-family:calibri,arial;">
<div class="main-wrapper">
	<div class="container-wrapper">
		<div class="bill">
			<img src="{% static "images/logo.png" %}" style="float:left;height:80px;width:80px;" />
            <img src="{% static "images/saibaba.gif" %}" style="float:right;height:90px;" />
            <div style="font-size:32px;">Sai Sri Prawn Purchasing Center</div>
            <div >Gollavanthippa Road, Bhimavaram - 2</div>
            <div style="margin-bottom:20px;">Cell: 9440273397</div>
            <div style="margin-bottom:10px;font-size:18px;font-weight:bold;">Lot Invoice</div>
            <div style="float:left;">Date: <span style="font-weight:bold;">{{ lot.date }}</span></div>
			<div style="float:right;">Lot No: <span style="font-weight:bold;">{{ lot.lot_no|slice:":-7" }}</span>{{ lot.lot_no|slice:"-7:" }}</div>
            <br />
            <br />
			<div style="float:left; font-size:16px;">Company Name: {{ lot.company_name }}</div>
            <div style="float:right; font-size:16px;">Company Place: {{ lot.company_address }}</div>
            <br />
			<div style="float:left; font-size:16px;">Vehicle Number: {{ lot.vehicle_number }}</div>
            <div style="float:right; font-size:16px;">Seal Number: {{ lot.seal_number }}</div>
            <br />
			<div style="float:left; font-size:16px;">Driver Name: {{ lot.driver_name }}</div>
            <div style="float:right; font-size:16px;">Driver Phone Number: {{ lot.driver_phone }}</div>
            <br />
			<table id="billTable" class="bill-table">
				<tr>
					<th>S.No</th>
					<th>Count</th>
					<th>Quantity (kgs)</th>
					<th>Number of Boxes</th>
				</tr>
                {% for row in lot_content %}
				<tr>
					<td>{{ row.s_no }}</td>
					<td style="font-weight:bold;">{{ row.count }}</td>
					<td>{{ row.quantity }}</td>
					<td style="font-weight:bold;">{{ row.no_of_boxes_with_identifier }}</td>
				</tr>
                {% endfor %}
                <tr>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;font-weight:bold;">{{ lot.total_quantity }}</td>
                    <td style="border-top:1px solid black;"></td>
                </tr>
			</table>
            <br /><br />
            <div style="float:left;">Accountant:</div>
            <div style="float:right">Manager:</div>
            <div style="">Checked By:</div>
		</div>
		<button class="print-button" onclick="window.print()">Print Lot Invoice</button>
	</div>
</div>

</div>
{% endblock %}
