{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block style_base %}
    <link rel="stylesheet" type="text/css" href="{% static "css/printbill.css" %}"> 
    <link href="http://fonts.googleapis.com/css?family=Bitter|Open+Sans:300" rel="stylesheet" type="text/css">
{% endblock %}

{% block wrapper_class %}body-wrapper testetet{% endblock %}
{% block topbar %}{% endblock %}
{% block body %}
<div class="body-container">
<div class="main-wrapper">
	<div class="container-wrapper">
		<div class="bill">
			<img src="{% static "images/logo.png" %}" style="float:left;height:80px;width:80px;" />
            <img src="{% static "images/saibaba.gif" %}" style="float:right;height:90px;" />
            <div style="font-size:32px;font-family:arial;">Sai Sri Prawn Purchasing Center</div>
            <div >Gollavanthippa Road, Bhimavaram - 2</div>
            <div style="margin-bottom:10px;">Cell: 9440273397</div>
            <div style="margin-bottom:10px;font-size:18px;">Bill</div>
            <div style="float:left;">Date:{{ bill.date }}</div>
			<div style="float:right;">Bill No:{{ bill.bill_no }}</div>
            <br />
			<div style="float:left; font-size:16px;">Name:{{ bill.name }}</div>
            <div style="float:right; font-size:16px;">Place:{{ bill.place }}</div>
            <br />
			<table id="billTable" class="bill-table">
				<tr>
					<th>S.No</th>
					<th>Count</th>
					<th>Quantity (kgs)</th>
					<th>Rate</th>
					<th>Price</th>
				</tr>
                {% for row in bill_content %}
				<tr>
					<td>{{ row.s_no }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.count }}</td>
					<td>{{ row.quantity }}</td>
					<td>{{ row.rate }}</td>
					<td>{{ row.price }}</td>
				</tr>
                {% endfor %}
                <tr>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;">{{ row.total_quantity }}</td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;">Rs.{{ bill.total_price }}</td>
                </tr>
			</table>
            <div style="float:left;">Amount in Words:</div>
            <br /><br />
            <div style="float:left;">Accountant:</div>
            <div style="float:right">Manager:</div>
            <div style="">Checked By:</div>
		</div>
		<button class="print-button" onclick="window.print()">Print Bill</button>
	</div>
</div>
<div class="bottom-wrapper">
	<div class="container-wrapper">
		<div class="bill">
			<img src="{% static "images/logo.png" %}" style="float:left;height:80px;width:80px;" />
            <img src="{% static "images/saibaba.gif" %}" style="float:right;height:90px;" />
            <div style="font-size:32px;font-family:arial;">Sai Sri Prawn Purchasing Center</div>
            <div >Gollavanthippa Road, Bhimavaram - 2</div>
            <div style="margin-bottom:10px;">Cell: 9440273397</div>
            <div style="margin-bottom:10px;font-size:18px;">Bill</div>
            <div style="float:left;">Date:{{ bill.date }}</div>
			<div style="float:right;">Bill No:{{ bill.bill_no }}</div>
            <br />
			<div style="float:left; font-size:16px;">Name:{{ bill.name }}</div>
            <div style="float:right; font-size:16px;">Place:{{ bill.place }}</div>
            <br />
			<table id="billTable" class="bill-table">
				<tr>
					<th>S.No</th>
					<th>Count</th>
					<th>Quantity (kgs)</th>
					<th>Rate</th>
					<th>Price</th>
				</tr>
                {% for row in bill_content %}
				<tr>
					<td>{{ row.s_no }}</td>
					<td style="font-weight:bold;font-family:arial">{{ row.count }}</td>
					<td>{{ row.quantity }}</td>
					<td>{{ row.rate }}</td>
					<td>{{ row.price }}</td>
				</tr>
                {% endfor %}
                <tr>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;">{{ row.total_quantity }}</td>
                    <td style="border-top:1px solid black;"></td>
                    <td style="border-top:1px solid black;">Rs.{{ bill.total_price }}</td>
                </tr>
			</table>
            <div style="float:left;">Amount in Words:</div>
            <br /><br />
            <div style="float:left;">Accountant:</div>
            <div style="float:right">Manager:</div>
            <div style="">Checked By:</div>
		</div>
		<button class="print-button" onclick="window.print()">Print Bill</button>
	</div>
</div>
</div>
{% endblock %}