{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}"> 
{% endblock %}

{% block body %}
<div class="body-container">
    <div class="main-wrapper">
	    <div class="container-wrapper">
	    	<div class="card-white">
			    <h2>Date:</h2>
				<p>
					<form action="" method="POST">
                                                {{ form.date }}
						<button type="submit" >Search</button>
					</form>
				</p>
		    </div>
	    </div>
    </div>
</div>


{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function(){
        $.datepicker.setDefaults({ dateFormat: 'dd/mm/yy' });
	$('#id_date').datepicker();
});
</script>
{% endblock %}
